*.env
*.log
*.swp
*.tfplan
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfvars
*_override.tf
*_override.tf.json
*~
.DS_Store
.env
.terraform/
Thumbs.db
crash.log
override.tf
override.tf.json
secrets.auto.tfvars
